.dialog {
  position: fixed;
  top: 10%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2100;
  height:300px;
  padding:0;
  height:300px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background: #fff;
  .dialog-header {
    height: 46px;
    background: #f7f7f7;
    border-bottom: 1px solid #eee;
    -webkit-box-shadow:0 1px 0 #eee;
    -moz-box-shadow: 0 1px 0 #eee;
    box-shadow:0 1px 0 #eee; 
    .dialog-title {
      text-align:center;
      padding-top:13px;
    }
    .dialog-close {
      float:right;
      position:relative;
      right:20px;
      top:-9px;
      font-size:29px;
      cursor:pointer;
    }
  }
  .dialog-container {
    width: 100%;
    padding: 20px 10px;
    height: 100%;
  }
}

$lang-px: (de: 350px, hu: 320px, pl: 310px, pt: 320px, tr:320px);
@each $Id, $px in $lang-px {
  .lang-#{$Id} .dialog {
    height: $px;
  }
}



@media (min-width: 1200px) {
  .container .dialog-wrapper .dialog {
    width: 436px;
  }
}

.dialog-content{
  width:280px;
  margin:0 auto; 
  margin-top:50px;
}

@media (max-width:400px) {
  .container .dialog-wrapper .dialog-content{
    width:200px;
  }

  $lang-list: (de: 400px, cn: 320px, en: 360px, es: 400px, fr: 400px, hu: 410px, it: 410px, pl: 410px, pt: 410px, ro: 410px, tr: 395px, ko: 345px);

  @each $lang, $size in $lang-list {
    .lang-#{$lang} .dialog {
      height: $size;
    }
  }

}

//add by xc dialog 弹框自适应水平居中
.dialog-auto-wrap{
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width:100%;
  height:100%;
  z-index:2200;
  background-color:transparent;
}
.dialog-auto{
  top:10%;
      left: 50%;
    right: auto;
    overflow: visible;
    transition: visibility ease-in .5s;
    float: left;
    position: relative;
    background-color: transparent;

  .dialog-auto-content{
    position: relative;
    top: 0; 
    left: -50%; 
    background: #fff; 
    height: 100%;

    .dialog-container{
      padding:14px 22px 22px;
    }

  }
      

  .dialog-header {
    height: 46px;
    background: #f7f7f7;
    border-bottom: 1px solid #eee;
    -webkit-box-shadow:0 1px 0 #eee;
    -moz-box-shadow: 0 1px 0 #eee;
    box-shadow:0 1px 0 #eee; 
    .dialog-title {
      text-align:center;
      padding-top:13px;
    }
    .dialog-close {
      float:right;
      position:relative;
      right:20px;
      top:-9px;
      font-size:29px;
      cursor:pointer;
    }
  }
  .dialog-container {
    width: 100%;
    padding: 20px 10px;
    height: 100%;
  }
}

  .dialog-con-float{
    float:left;

    .help-block {
      text-align: center;
    }
  } 