/*页面组件*/
html, body {
	height: 100%;
}

.control-label{
  color:#666;
}

.index-body {
	background-color: #d7d7d7;
	overflow-y: scroll;
}

.masthead {
	min-width: 320px;
	height: 40px;
	margin-bottom: 25px;
	margin-bottom: 20\0;
	background: #ed7020;
}

.main-content {
	background: #f2f2f2;
	border-radius: 5px;
	margin-bottom: 30px;
}

#nav-menu {
	border-radius: 5px;
}

.nav-content {
	padding: 30px 0;
	width: 100%;
  .nav-des{
    font-size:15px;
  }
}

@media (max-width: 767px) {
  .main-content, .container-fluid {
  	padding-left: 0;
  	padding-right: 0
  }

  nav > li > a {
    padding: 10px 0 10px 30px;
  }

  #nav-menu {
   display: none;
    min-height: 100px !important;
    position: absolute;
    width: 240px;
    top: 45px;
    z-index: 1000;
    right: -240px;
    webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  #nav-menu.nav-menu-push{
      display: block;
  	right: 0;
  }

  .nav-content {
  	padding: 0;
  }
}

#nav > * {
	margin-left: -15px;
	margin-right: -15px;
	padding: 0;
	background: #e3e3e3;
}
.nav > li:first-child {
	border-top: 1px solid #d7d7d7;
}

.nav > li {
	border-bottom: 1px solid #d7d7d7;
}

.nav > li > a {
	padding: 13px 0 13px 45px;
	color: #666;
}

$large:(en, de, es, fr, hu, it, pl, ro, ra, tr, ru, pt);

@for $i from 1 through length($large){
  .lang-#{nth($large,$i)} {
    .nav > li > a {
        padding-left: 2em;
    }

    @media (min-width: 1200px) {
       .navbar.col-lg-2,.nav-footer-icon.col-lg-2 {
        width: 20%;
      }

      .main-content.col-lg-10, .main-footer.col-lg-10{
        width:80%;
      }
    }
  }
}

.lang-en #statusWAN{
  @media (min-width: 992px){
    .col-md-4{
      width: 50%;
      &.mgr100{
        margin-right: 0;
      }
    }
  }
}

.nav > li > a.active, .nav > li > a:hover {
	margin-right: -1px;
	background-color: #f2f2f2;
	color: #ed7020;
	font-weight: 400;
}

.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	color: #ed7020;
}

.main-footer {
	padding-right: 35px;
	height: 50px;
	line-height: 50px;
	text-align: right;
	background-color: #f2f2f2;
	border-top: 1px solid #ccc;
	border-radius: 0 0 5px 5px;
}

#form-massage {
	position: fixed;
	top: 120px;
	left: 50%;
	margin-left: -119px;
	width: 222px;
	padding: 28px 8px;
	color: #fff;
	font-size: 14px;
	z-index: 9999;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #666;
	opacity: .9;
	filter: alpha(opacity=90);
}

#statistic small, #statistic p {
	color: #999;
	font-size: 14px;
	padding-left: 5px;
}

.file {
	position: relative;
  	/* background: #D0EEFF; */
  	/* border: 1px solid #99D3F5; */
  	border-radius: 4px;
  	overflow: hidden;
  	/* color: #1E88C7; */
  	text-decoration: none;
  	text-indent: 0;
  	line-height: 20px;
}
.file:hover {
	color: #999;
}

.bottom-line {
  height:13px;
	border-bottom:1px solid #ccc;
}

.pic {
  font-size:46px;
}

.pic-wan .icon-cancel {
  top: 20px;
  font-weight: bold;
}

.pic-success {
  background: url(../../../common/img/totalPicture.png) -88px -133px no-repeat;
  display:inline-block;
  width: 75px;
  height: 69px;
}

#connectStatus {
  position: relative;
  display:block;

}

.ico-small{
    font-size: 16px;
    cursor: pointer;
}

.signal {
	background:url(../../../common/img/wifi_strength.png) 0 no-repeat;
	width: 20px;
	height: 20px;
}

.signal_4 {
	background-position: 0 7px;		
}

.signal_3 {
	background-position: -21px 7px;		
}

.signal_2 {
	background-position: -42px 7px;		
}

.signal_1 {
	background-position: -63px 7px;		
}

.picture {
  background: url(../../../common/img/totalPicture.png) 0 no-repeat;
  display:inline-block;
}

.picture.pic-upgrade{
  background-position: -87px 9px;
  width: 71px;
  height: 73px;
}

.picture.pic-net{
	background-position: 0px -85px;
    width: 84px;
    height: 84px;
}

.picture.pic-router{
    background-position: 0px -278px;
    width: 78px;
    height: 84px;
}

.picture.pic-wisp{
    background-position: 0px 8px;
    width: 84px;
    height: 84px;
}
.picture.pic-preRouter{
	background-position: 0px -372px;
    width: 78px;
  	height: 84px;
}
.picture.pic-device{
	background-position: 1px -183px;
    width: 81px;
    height: 84px;
}

.picture.pic-reboot {
  background-position: -87px -67px;
  width: 71px;
  height: 65px;
}

.picture.pic-ok {
  background-position: -95px -137px;
  width: 71px;
  height: 73px;
}

.picture.pic-wifiExtend {
    background-position: -89px -209px;
    width: 57px;
    height: 22px;
}

.pic-error {
    background: url(../../../common/img/pic-error.png) -9px no-repeat;
    position:relative;
    top:4px;
}

.picture.pic-add {
    background-position: -83px -257px;
    width: 26px;
    height: 26px;
    cursor:pointer;
}

.picture.pic-del{
    background-position: -83px -292px;
    width: 26px;
    height: 26px;
    cursor:pointer;
}

.picture.pic-download{
    background-position: -83px -329px;
    width: 26px;
    height: 26px;
}

.picture.pic-upload{
    background-position: -83px -360px;
    width: 26px;
    height: 26px;
}

.picture.pic-status{
	background-position:-135px -342px;
    width: 26px;
    height: 26px;
}

.picture.pic-status.active{
	background-position:-109px -342px;
    width: 26px;
    height: 26px;
}

.picture.pic-network{
    background-position: -135px -254px;
    width: 26px;
    height: 26px;
}

.picture.pic-network.active{
    background-position: -109px -254px;
    width: 26px;
    height: 26px;
}

.picture.pic-wifi{
	background-position:-135px -367px;
    width: 26px;
    height: 26px;
}
.picture.pic-wifi.active{
	background-position:-109px -367px;
    width: 26px;
    height: 26px;
}

.picture.pic-user{
    background-position: -135px -423px;
    width: 26px;
    height: 26px;
}

.picture.pic-user.active{
    background-position: -109px -423px;
    width: 26px;
    height: 26px;
}

.picture.pic-netCtrl{
	background-position: -135px -282px;
    width: 26px;
    height: 26px;
}
.picture.pic-netCtrl.active{
	background-position: -109px -282px;
    width: 26px;
    height: 26px;
}

.picture.pic-time{
	background-position: -135px -282px;
    width: 26px;
    height: 26px;
}

.picture.pic-time.active{
	background-position: -109px -282px;
    width: 26px;
    height: 26px;
}

.picture.pic-adv{
	background-position:-135px -313px;
    width: 26px;
    height: 26px;
}

.picture.pic-adv.active{
	background-position:-109px -313px;
    width: 26px;
    height: 26px;
}

.picture.pic-sys{
	background-position:-135px -393px;
    width: 26px;
    height: 26px;
}

.picture.pic-sys.active{
	background-position:-109px -393px;
    width: 26px;
    height: 26px;
}

.nav-footer-icon {
  padding-top: 15px;
  background: #e3e3e3;
  height: 50px;
}

.nav-icon {
    font-size:20px;
    color:#333;
}
.nav-icon:hover, .nav-icon:focus {
  color: #4463b1;
  text-decoration: none;
}

.nav-href-wrap{
  width: auto;
  float: left;
  margin: 0 5px;

}

.nav-href{
  font-size:13px;
  color:rgb(153, 153, 153);
  cursor:pointer;
}

.nav-href:hover, .nav-href:active {
  	color:#ed7020;
}

.navbar-login {
	margin-top: 5px;
}

.nav-lang {
	background: #ed7020;
  	border: 0px;
  	float: right;
  	margin-top: 6px;
  	cursor: pointer;
  	color: #fff;
  	width: auto;
}

.nav-lang .lang, .nav-lang .caret{
	color: #fff;
}

.nav-lang:focus {
	border: 0px;
}
.nav-lang .dropdown-menu {
	min-width: 90px;
}
#selectLang {
	margin-left: 20px;
	display: inline-block;

}

#loginout {
	cursor: pointer;
}

.nav-icon-weixin {
	position: absolute;
	top: -120px;
	width: 120px;
	left: -38px;
}

#statistic fieldset:hover{
	border-color: #ed7020;
	cursor: pointer;
}

@media (min-width: 768px) {
    #statistic  h1{
        font-size: 42px;
    }
}

@media(max-width: 767px) {
	#statistic h1{
		font-size:20px;
	}	

  .col-sm-4.col-md-3 + .col-sm-4.col-md-3 {
    margin-top: 12px;
  }

  .table-responsive.form-group{
    margin-left: 0;
  }
}

@media(max-width: 400px) {
	#statistic h1{
		font-size:15px;
	}
	#statistic .ico-text{
		font-size:11px;
	}	
}

.span-fixed {
	  max-width: 200px;
}

@media (min-width: 1200px) {
	fieldset .table-responsive {
		overflow-x: visible;
	}
}

form .legend {
	margin-bottom: 4px;
}

.wifi-tips {
  position: absolute;
  top: 3px;
  left: 109px;
  padding: 5px;
  color: #f00;
  background:#fff;
  border:1px solid #eee;
}


@media (min-width: 768px) {
	.main-container .navbar-default{  
	 	background-color: #d7d7d7;
	 	border: 0;
	}
}

@media (max-width: 767px) {
	.help-inline .wifi-tips {
		position: static;
	}
}
#attachedDevices .input-medium {
	width:120px;
}

#attachedDevices div, #controlsDevices div, #qosListAccess .deviceName div {
	padding-left:0;
}

#qosList td {
  padding: 18px 8px;
}

@media (max-width: 767px) {
  .control-gap {
    margin-top:10px;
  }
}

@media (max-width: 767px) {
  .hidden-max-xs {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .hidden-max-sm {
    display: none !important;
  }
}

@media (max-width: 1199px) {
  .hidden-max-md {
    display: none !important;
  }
}

.save-overlay {
  position: fixed;
  z-index: 3000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  background-color: #ffffff;
}

.test-tips {
	position: absolute;
    width: 300px;
    height: 200px;
    left: 50%;
    margin-left: -150px;
    top: 100px;
    z-index: 99;
    padding: 10px;
    color: #000;
    background-color: #ccc;
    border-radius: 8px;
}

@media (min-width: 1200px) {
  .container #routerNameContainer {
    margin-top: 40px;
    margin-left: 100px;
  }
  .container #routerNameContainer .routerName {
    position: relative;
    right: 140px;
    text-align: right;
  }
  
}

#setRelayWrapper {
	#inport.synchroing {
		background:#ccc;
		color:#999;
		border:1px solid #bbb;
		cursor:not-allowed;
	}
}

.lang-ko body{
	font-family: "dotum";
}

#selectLang .dropdown-menu li:nth-child(3){
	font-family: "dotum";
}
.icon-check-circled{
	font-size: 94px;
    color: #52d11a;
    font-weight: 100;
    line-height: inherit;
}

#appDianoseWrapper{
  ul{
    margin-top:10px;
    li{
      margin:5px 0;
    }
  }
}

.connect-ui img.connect-error {
  margin-left: 30px;
}

@media (max-width: 1199px) {
  .connect-ui img.connect-error {
    margin-left: 18px;
  }
}

@media (max-width: 991px) {
  .connect-ui {
    margin-top:19px;
    img {
      margin-left:10px;
    }
  }
  .connect-ui.bottom-line{
    margin-left:10px;
  }
}

table tbody tr{
  border-top: 1px solid #eee;
}

.btn-primary {
  color:#fff;
  background: #58bf14;
  border:1px solid #58bf14;
}
.btn-primary:hover {
  background: #61e04d;
}
.btn-primary:active {
  background: #009f05;
}

#wan-connect-status {
  margin-left: 28px;
}

@media (max-width: 500px) {
  #wan-connect-status {
    margin-left:0px;
  }
}

.mgr100{
  margin-right: 100px;
}

.hide-foreign{
  display:none;
}
.lang-cn {
  .hide-foreign {
    display:inline-block;
  }
}

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
// .clearfix{*+height:1%;}

.align-center{
  text-align:center;
}

.help-out{
  margin-left: 90px;
}

.lang-hu .help-out{
  margin-left: 120px;
}